<% include ./partials/header %>
<div class="container">
	<div class="row">
		<h1 class="h1TextCenter">Create an iBid Account</h1>
		<h4 class="h1TextCenter">start bidding</h4>
		<div class="divFormWidthMargin">
			<form action="/register" method="POST">
				<div class="form-group">
					<input class="form-control" type="text" name="name" placeholder="first name" required="required">
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="lname" placeholder="last name" required="required">
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="username" placeholder="employee number" required="required">
				</div>
				<div class="form-group">
					<input class="form-control" type="password" name="password" placeholder="password" required="required">
				</div>
				<div class="form-group">
					<input class="form-control" type="password" name="adminCode" placeholder="admin code" required="required">
				</div>
				<div class="form-group">
					<button class="btn btn-lg btn-success btn-block">CREATE ACCOUNT</button>
				</div>
				<div class="form-group">
					<p>Want to create an account? Contact IT Helpdesk</p>
				</div>
			</form>
		</div>	
	</div>
</div>
<% include ./partials/footer %>